boto3==1.42.42 ; python_version >= "3.13"
botocore==1.42.42 ; python_version >= "3.13"
dotenv==0.9.9 ; python_version >= "3.13"
jmespath==1.1.0 ; python_version >= "3.13"
numpy==2.4.2 ; python_version >= "3.13"
pandas==3.0.0 ; python_version >= "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.13"
python-dotenv==1.2.1 ; python_version >= "3.13"
s3transfer==0.16.0 ; python_version >= "3.13"
six==1.17.0 ; python_version >= "3.13"
tzdata==2025.3 ; python_version >= "3.13" and (sys_platform == "win32" or sys_platform == "emscripten")
urllib3==2.6.3 ; python_version >= "3.13"
